name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Set gcloud project and configure Docker
        run: |
          gcloud config set project ${{ secrets.GCP_PROJECT_ID }}
          gcloud auth configure-docker --quiet

      - name: Build image
        run: docker build -t llm-rag-app .

      - name: Tag image
        run: docker tag llm-rag-app europe-west1-docker.pkg.dev/llm-rag-gcp/llm-rag-repo/llm-rag-app:${{ github.sha }}


      - name: Push image
        run: docker push europe-west1-docker.pkg.dev/llm-rag-gcp/llm-rag-repo/llm-rag-app:${{ github.sha }}


      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy llm-rag-service \
            --image=europe-west1-docker.pkg.dev/llm-rag-gcp/llm-rag-repo/llm-rag-app:${{ github.sha }} \
            --region=europe-west1 \
            --platform=managed \
            --allow-unauthenticated \
            --set-env-vars=OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}

